<div class="background">
    <div class="logo">
        <mat-icon style="margin-top: 10px">home</mat-icon>
    </div>
    <div class="title">
        <a style="margin-top: 10px">Maritza's House</a>
    </div>
    <div class="nav-bar">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            @for (link of navLinks; track link.path) {
                <a mat-tab-link
                style="font-size: 20px;" 
                [routerLink]="link.path"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
                [routerLinkActiveOptions]="{exact: link.exact}">
                    {{ link.label }}
                </a>
            }
        </nav>
    </div>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>