<div class="background">
    <div class="title">
        <img src="imgs/home.png" width="50" height="50">
        <a>Maritza's House</a>
    </div>
    <div class="nav-bar">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            @for (link of navLinks; track link.path) {
                <a mat-tab-link 
                [routerLink]="link.path"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
                [routerLinkActiveOptions]="{exact: link.exact}">
                    {{ link.label }}
                </a>
            }
        </nav>
    </div>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>