<section>
    <mat-card appearance="outlined">
        <div class="welcome-caption">
            <h1>Professional and Compassionate Care in a Warm, Welcoming Home</h1>
        </div>
        <div class="welcome-description">
            <p>Providing dignified, personalized care for seniors in a safe, comfortable environment.</p>
        </div>

        <div class="welcome-btns">
            <button matButton="filled">Schedule a Visit</button>
            <button matButton="outlined">Learn More</button>
        </div>
    </mat-card>
</section>