
.welcome-caption {
    display: flex;
    align-items: center;
    margin: 50px 50px 0 50px;
    justify-content: space-around;
    font-size: 22px;
}

.welcome-description {
    display: flex;
    align-items: center;
    margin: 15px 50px 50px 50px;
    justify-content: space-around;
    font-size: 30px;
}

.welcome-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: 50px;
}

button {
    font-size: 36px;
    margin-right: 25px;
    padding: 30px;
}

mat-card {
    margin: 52px;
}

