
.welcome-caption {
    display: flex;
    align-items: center;
    margin: 50px 50px 0 50px;
    justify-content: space-around;
    font-size: 22px;
}

.welcome-description {
    display: flex;
    align-items: center;
    margin: 15px 50px 50px 50px;
    justify-content: space-around;
    font-size: 30px;
}

.welcome-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: 50px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.content-overlay {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

button {
    font-size: 36px;
    margin-right: 25px;
    padding: 30px;
}

mat-card {
    margin: 52px;
    background-color: rgba(255, 255, 255, 0.8);
}