// Home page styling
.welcome-caption {
    display: flex;
    align-items: center;
    margin: 50px 50px 0 50px;
    justify-content: space-around;
    font-size: 22px;
}

.welcome-description {
    display: flex;
    align-items: center;
    margin: 15px 50px 50px 50px;
    justify-content: space-around;
    font-size: 30px;
}

.welcome-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: 50px;
}

.background-image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.content-overlay {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.home-btn {
    font-size: 30px;
    margin-right: 25px;
    padding: 30px;
}

mat-card {
    margin: 52px;
    background-color: rgba(255, 255, 255, 0.8);
}

// Header styling
.background {
  display: flex;
  align-items: center;
  padding: 7px 20px 7px 20px;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 100);
  gap: 10px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 25px;
  flex: 1;
  min-width: 250px;
}

.logo {
    display: flex;
    align-items: center;
}

mat-icon {
  color: #7A9B8E;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .background {
    flex-direction: column;
    padding: 15px;
  }
  
  .title {
    margin-left: 0;
    padding-right: 0;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
    gap: 10px;
  }
}