<section>
    <img src="/images/elderly_hand_holding.JPG" class="background-image" alt="Caring hands">
    <div class="content-overlay">
        <mat-card appearance="outlined">
            <div class="welcome-caption">
                <h1>Professional and Compassionate Care in a Warm, Welcoming Home</h1>
            </div>
            <div class="welcome-description">
                <p>Providing dignified, personalized care for seniors in a safe, comfortable environment.</p>
            </div>

            <div class="welcome-btns">
                <button mat-flat-button>Schedule a Visit</button>
                <button mat-stroked-button>Learn More</button>
            </div>
        </mat-card>
    </div>
</section>