
.our-mission-title {
    display: flex;
    align-items: center;
    margin: 50px 50px 0 50px;
    justify-content: space-around;
    font-size: 30px;
}

.our-mission-desc {
    display: flex;
    align-items: center;
    margin: 15px 50px 50px 50px;
    justify-content: space-around;
    font-size: 20px;
}

.content-overlay {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}
mat-card {
    margin: 52px;
    background-color: rgba(255, 255, 255, 0.8);
}