<div class="background">
    <section>
        <mat-card appearance="outlined">
            <h1 class="our-mission-title">Our Mission</h1>
            <p class="our-mission-desc">At Maritza's House, we strive to provide compassionate, personalized care for our seniors in a warm and welcoming environment. 
                We are dedicated to enhancing the quality of life for our residents by providing tailored care that meets their unique needs and preferences. 
                Our mission is to create a safe, comfortable, and nurturing home where our seniors can thrive and enjoy their golden years with dignity and respect.
            </p>
        </mat-card>
    </section>
</div>
