@use '@angular/material' as mat;
@use 'app/styles/theme-colors' as maritzas-theme;

html {

  @include mat.core();
  
  $theme: mat.define-theme((
    color: (
      theme-type: light,
      primary: maritzas-theme.$primary-palette,
      tertiary: maritzas-theme.$tertiary-palette,
    ),
    typography: (
      brand-family: 'Inter',
      plain-family: 'Inter',
    )
  ));

  @include mat.all-component-themes($theme);
  
  @include mat.toolbar-overrides((
    container-background-color: #FFFFFF,
    container-text-color: #2D3436,
  ));
  
  @include mat.button-overrides((
    filled-container-color: #7A9B8E,
    filled-label-text-color: #FFFFFF,
    outlined-outline-color: #7A9B8E,
    outlined-label-text-color: #636E72,
  ));
  

  @include mat.theme-overrides((
    surface: #FAF9F7,
  ));
}

body {
  margin: 0;
  background-color: #FAF9F7;
}

* {
  font-family: 'Inter';
  font-weight: 300;
  letter-spacing: -.75px;
  scroll-behavior: smooth;;
}